@model FoodCourt.Models.RestaurantModel
@using Microsoft.AspNetCore.Identity
@using FoodCourt.DAL.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "GetDishes";
}

<div class="text-center mt-3" style="margin-bottom:50px">
    <h3>
        @Model.Name
    </h3>
    <p> @Model.Description</p>
</div>
@foreach (DishModel dish in Model.Dishes)
{
    <div class="text-center mb-3">
        <div class="d-flex justify-content-between">
            <h4>
                @dish.Name
            </h4>
            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-action="Create" method="get" asp-controller="Basket">
                    <input type="hidden" name="dishId" value="@dish.Id" />
                    <input type="submit" value="Добавить в корзину" />
                </form>
            }
        </div>
        <p> @dish.Description</p>
    </div>
    <hr />
}
